<%= simple_form_for(@cheese, :html=>{:class=>"form-horizontal"}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :cheese_name %>
    <%= f.input :cheese_description, as: :text, input_html:{rows:"3" } %>
    <%= f.input :origin_country %>
    <%= f.input :texture %>
    <%= f.input :milk_type %>
    <%= f.input :taste %>
    <%= f.input :pasteurized %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
